<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Route Finder</title>

    <!-- Bootstrap --
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> --
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->

    <!-- Leaflet-->
     <link rel="stylesheet" href="/leaflet/dist/leaflet.css" />
     <script src="/leaflet/dist/leaflet-src.js"></script>

    <script type="text/javascript" src="/javascripts/map.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- link to external stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <script type="text/javascript">
      var socket = io.connect();
      
      socket.on('renderMap', function(data){
        if(data.length > 0) {
          document.getElementById('map').innerHTML = '<div id="mapid" style="height: 550px;"> </div>';
          render_map(document.getElementById("mapid"), document.getElementsByClassName("hidden_first_loc"), data);
        } else {
          document.getElementById('map').innerHTML = '<div id="mapid" style="height: 550px;"> </div>';
          render_map(document.getElementById("mapid"), document.getElementsByClassName("hidden_first_loc"), data);
        }
      });

      function toggle(){
        var x = document.getElementsByClassName('btnDisable');

        if(document.getElementById("btnDisable").value == "OFF") {
          for(i = 0; i < x.length; i++) {
            x[i].value = "ON";
          }
        } else if(document.getElementById("btnDisable").value == "ON") {
          for(i = 0; i < x.length; i++) {
            x[i].value = "OFF";
          }
        }
      }
    </script>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>ROUTE FINDER</h1>
        <div class="row">
          <form method="get" action="/get_events">
            <input type="submit" class="btnHeader" style="width: 100px; position: absolute; left: 5px; bottom: 5px; margin: 5px;;" value="Show All Events"> 
          </form>
        </div>
        <div class="row">
          <form method="get" action="/login">
            <input type="submit" class="btnHeader" style="width: 80px; position: absolute; right: 5px; bottom: 5px; margin: 5px;;" value="Add Event"> 
          </form>
        </div>
      </div>
      <div class="sub-container">
        <div class="nav-bar"> 
          <form method="post" action="/find_route" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
            <div class="row">
              <div class="left">
                <input type="text" name="first_loc" id= "first_loc" class="form-control input-search" value="" placeholder="Current Location">
                <input type="hidden" name="hidden_first_loc" class="hidden_first_loc" value="NULL">
                <input type="text" name="second_loc" style="margin-bottom: 5px; margin-top: 5px;" class="form-control input-search" value="" placeholder="Destination">
                <input type="hidden" name="hidden_disable_value" class="btnDisable" value="OFF">
              </div>
              
              <div class="right">
                <span class="input-group-btn">
                  <button class="btn btn-search" style="border-radius: 12px; width: 50px; margin: 2px; color: blue" type="submit"> <i class="glyphicon glyphicon-search"></i></button>
                </span>
              </div>
            </div>
            <div class="row">
              <input type="button" id="btnDisable" class="btnDisable" value="OFF" style="color:blue" onclick="toggle()">
              <label for="btnDisable"> DISABLE ACCESS </label>
            </div>
          </form>
        </div>
        <div class ="mapping">
          <div id="map" style="height: 550px;"> </div>
        </div>
      </div>

      <div class="footer"></div> 
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

  </body>
</html>