<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Route Finder</title>

    <!-- Bootstrap --
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> --
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->

    <!-- Leaflet-->
     <link rel="stylesheet" href="/leaflet/dist/leaflet.css" />
     <script src="/leaflet/dist/leaflet-src.js"></script>

    <script type="text/javascript" src="/javascripts/map.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- link to external stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <script type="text/javascript">
      var socket = io.connect();
      
      socket.on('renderMap', function(data){
        //window.alert("passing through");
        if(data.length > 0) {
          //window.alert("check1");
          render_map(document.getElementById("map"), document.getElementsByClassName("hidden_first_loc"), data);
        } else {
          //window.alert("check2");
          var piv = [{name:"NOACTION", data:[]}];
          render_map(document.getElementById("map"), document.getElementsByClassName("hidden_first_loc"), piv);
        }
      });
    </script>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>ROUTE FINDER</h1>
        <form method="get" action="/">
          <input type="submit" id="btnDisable" style="width: 70px; position: absolute; left: 5px; bottom: 5px; margin: 5px;;" value="Go Back"> 
        </form>
      </div>
      <div class="sub-container">
        <div class ="mappings">
          <div id="map" style="height: 550px;"> </div>
        </div>
      </div>
      <div class="footer"></div> 
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

  </body>
</html>