      .container {
        height: 100%;
        width: 100%;
        background-color: #eeeeee;
        padding: 10px;
      }
      
      .container .header {
        background-color: black;
        color: white;
        text-align: center;
        padding: 5px;
        border-radius: 12px;
        position: relative;
      }

      .container .sub-container{
        height: 100%;
        width: 100%;
        padding: 15px;
        background-color:#eeeeee;
        float: left;
      }
      
      .container .sub-container .nav-bar {
        background-color:#eeeeee;
        height:100%;
        width: 25%;
        float:left;
        padding: 2px;  
      }

      .container .sub-container .nav-bar .row{
        width: 100%;
        margin: 0px;
        padding: 0px;
      }

      .container .sub-container .nav-bar .left {
        width: 170px;
        padding: 0px;
        float: left;
      }

      .container .sub-container .nav-bar .right {
        width: 50px;
        padding: 0px;
        float: left;
        margin: 2px;
      }

      .container .sub-container .mapping {
        height: 100%;
        width: 75%;
        float: left;
        padding: 2px;
        background-color: #eeeeee;
        border-style: solid;
        border-color: black;
        margin: auto;
      }
      
      .container .sub-container .mappings {
        height: 100%;
        width: 75%;
        background-color: #eeeeee;
        border-style: solid;
        border-color: black;
        margin: auto;
      }

      #btnDisable {
        width: 50px;
        background-color: #008CBA;
        border-color: white;
        border-radius: 12px;
        margin: 4px;
      }

      .btnHeader {
        width: 50px;
        height: 25px;
        font-size: 12px;
        background-color: #008CBA;
        border-color: white;
        border-radius: 5px;
        margin: 4px;
      }

      .footer {
        background-color:black;
        color:white;
        clear:both;
        text-align:center;
        padding:5px;    
      }

      .text-labels {
        background-color: black;
        font-size: 20px;
      }